<div
  class="
    relative
    grid grid-cols-1
    gap-4
    p-4
    mb-8
    border
    rounded-lg
    bg-white
    shadow-lg
  "
>
  <div class="relative flex gap-4">
    <img
      [src]="avatar"
      class="relative rounded-lg -top-8 -mb-4 bg-white border h-20 w-20"
      [alt]="userName"
      loading="lazy"
    />
    <div class="flex flex-col w-full">
      <div class="flex flex-row justify-between">
        <p class="relative text-xl whitespace-nowrap truncate overflow-hidden text-slate-500 font-semibold">
          {{userName}}
        </p>
      </div>
      <p class="text-slate-400 text-sm">{{formattedDate}}</p>
    </div>
  </div>
  <div class="-mt-2 text-slate-500 github-markdown" [innerHtml]="parsedComment"></div>
  <div class="flex flex-row gap-2">
    <app-new-reaction (addReaction)="addReaction.emit({reaction: $event, comment: id})"></app-new-reaction>
    <app-reaction *ngFor="let reaction of commentReactions"
     [reaction]="reaction.reaction"
     [count]="reaction.count"
     (addReaction)="addReaction.emit({reaction: $event, comment: id})"></app-reaction>
    <div class="flex-1"></div>
    <a [href]="html_url" class="text-slate-400 underline text-sm">Github comment</a>
  </div>
</div>
